# Telegram bot token
TELOXIDE_TOKEN="1234567890:ABCDEFGHIJKLMNOPQ-RSTUVWXYZabcdefgh"

# AI related settings, fill these if you want to use tarot ai.
AI_API_URL="https://openrouter.ai/api/v1/chat/completions"
AI_API_TOKEN="sk-abcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuv"
AI_API_MODEL="deepseek-ai/DeepSeek-V3"

# Tarot AI system prompt
# If not specified, default prompt (same as above) will be used.
# TAROT_AI_PROMPT="请在接下来使用中文，根据我的问题和我抽取到的塔罗牌进行回答。\n注意请使用html格式进行回答，不要使用markdown格式以及任何markdown语法。"